node-red/flow.json
[
    {
        "id": "f3501c8c57c6d531",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7659df80ad5a09a4",
        "type": "debug",
        "z": "f3501c8c57c6d531",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "87a3642045de8bfa",
        "type": "mqtt in",
        "z": "f3501c8c57c6d531",
        "name": "",
        "topic": "cma/echo/117a53/uplink",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "059e04a6e5d4a53e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "f80be3de16ba6ceb"
            ]
        ]
    },
    {
        "id": "8f958aabe1ad4d80",
        "type": "debug",
        "z": "f3501c8c57c6d531",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 660,
        "wires": []
    },
    {
        "id": "0539684888d20a81",
        "type": "worldmap",
        "z": "f3501c8c57c6d531",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "faaf4daaeb9d01ce",
        "type": "ui_text",
        "z": "f3501c8c57c6d531",
        "group": "4166fd507e7707b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Longitude",
        "label": "Longitude",
        "format": "{{msg.payload.lon}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 460,
        "wires": []
    },
    {
        "id": "afac82e0a5f91727",
        "type": "ui_text",
        "z": "f3501c8c57c6d531",
        "group": "4166fd507e7707b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Source",
        "label": "Source",
        "format": "{{msg.payload.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "37482d47c031d29a",
        "type": "ui_text",
        "z": "f3501c8c57c6d531",
        "group": "4166fd507e7707b5",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Latitude",
        "label": "Latitude",
        "format": "{{msg.payload.lat}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "0fc06848edf85d14",
        "type": "ui_text",
        "z": "f3501c8c57c6d531",
        "group": "4166fd507e7707b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Position complète",
        "label": "Position complète",
        "format": "Lat: {{msg.payload.lat}} | Lon: {{msg.payload.lon}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 620,
        "wires": []
    },
    {
        "id": "fd8d23ca39483efc",
        "type": "ui_text",
        "z": "f3501c8c57c6d531",
        "group": "4166fd507e7707b5",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Heure",
        "label": "Heure",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "d8c580c93c25ddcb",
        "type": "function",
        "z": "f3501c8c57c6d531",
        "name": "function 1",
        "func": "let line = msg.payload;\n\nif (!line.startsWith(\"$GNGLL\")) return null;\n\nlet parts = line.split(\",\");\n\nif (parts[6] !== \"A\") return null;\n\nfunction convert(coord) {\n    let deg = Math.floor(coord / 100);\n    let min = coord - deg * 100;\n    return deg + min / 60;\n}\n\nlet lat = convert(parseFloat(parts[1]));\nlet lon = convert(parseFloat(parts[3]));\n\nif (parts[2] === \"S\") lat = -lat;\nif (parts[4] === \"W\") lon = -lon;\n\n// ---- HEURE ----\nlet time = \"N/A\";\nif (parts[5] && parts[5].length >= 6) {\n    let raw = parts[5];\n    let h = parseInt(raw.substring(0,2));\n    let m = raw.substring(2,4);\n    let s = raw.substring(4,6);\n\n    let timezoneOffset = 1;   // France hiver\n    h = h + timezoneOffset;\n    if (h >= 24) h = h - 24;\n\n    time = h.toString().padStart(2,\"0\") + \":\" + m + \":\" + s;\n}\n\nmsg.payload = {\n    name: \"GPS\",\n    lat: lat,\n    lon: lon,\n    time: time\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            [
                "0539684888d20a81",
                "37482d47c031d29a",
                "faaf4daaeb9d01ce",
                "afac82e0a5f91727",
                "0fc06848edf85d14",
                "fd8d23ca39483efc",
                "8f958aabe1ad4d80"
            ]
        ]
    },
    {
        "id": "f80be3de16ba6ceb",
        "type": "function",
        "z": "f3501c8c57c6d531",
        "name": "function 6",
        "func": "// Vérifier que frmPayload existe\nif (!msg.payload || !msg.payload.frmPayload) {\n    return null;  // ignore message\n}\n\n// Base64 → buffer ASCII\nlet buf = Buffer.from(msg.payload.frmPayload, 'base64');\n\n// ASCII → HEX string\nlet hexString = buf.toString('utf8');\n\n// Vérifier longueur minimum (16 caractères HEX = 8 octets)\nif (!hexString || hexString.length < 16) {\n    node.warn(\"Payload trop court : \" + hexString);\n    return null;\n}\n\n// HEX string → vrai buffer binaire\nlet realBuf = Buffer.from(hexString, 'hex');\n\n// Sécurité supplémentaire\nif (realBuf.length < 8) {\n    node.warn(\"Buffer trop court après conversion\");\n    return null;\n}\n\n// Lecture sécurisée\nlet longitude = realBuf.readInt32BE(0) / 1e6;\nlet latitude = realBuf.readInt32BE(4) / 1e6;\n\n// ==============================\n// AJOUT CALCUL DISTANCE\n// ==============================\n\nfunction toRad(x) {\n    return x * Math.PI / 180;\n}\n\nlet lastPoint = flow.get(\"lastPoint\");\nlet totalDistance = flow.get(\"totalDistance\") || 0;\n\nif (lastPoint) {\n\n    const R = 6371000; // rayon Terre en mètres\n\n    let dLat = toRad(latitude - lastPoint.latitude);\n    let dLon = toRad(longitude - lastPoint.longitude);\n\n    let a =\n        Math.sin(dLat / 2) * Math.sin(dLat / 2) +\n        Math.cos(toRad(lastPoint.latitude)) *\n        Math.cos(toRad(latitude)) *\n        Math.sin(dLon / 2) * Math.sin(dLon / 2);\n\n    let c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    let distance = R * c;\n\n    totalDistance += distance;\n}\n\n// Sauvegarde dernier point\nflow.set(\"lastPoint\", { latitude, longitude });\nflow.set(\"totalDistance\", totalDistance);\n\n// ==============================\n// Payload final\n// ==============================\n\nmsg.payload = {\n    latitude: latitude,\n    longitude: longitude,\n    distance_total_m: totalDistance\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 180,
        "wires": [
            [
                "7659df80ad5a09a4",
                "7cacccaf43d4d56e"
            ]
        ]
    },
    {
        "id": "7cacccaf43d4d56e",
        "type": "influxdb out",
        "z": "f3501c8c57c6d531",
        "influxdb": "2317ee07a32cbe30",
        "name": "",
        "measurement": "gps_tracking",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "outdoor",
        "bucket": "gps",
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "c2543628486c2ce0",
        "type": "serial in",
        "z": "f3501c8c57c6d531",
        "name": "gps",
        "serial": "",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "d8c580c93c25ddcb"
            ]
        ]
    },
    {
        "id": "059e04a6e5d4a53e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.unica.ovh",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4166fd507e7707b5",
        "type": "ui_group",
        "name": "Position GPS",
        "tab": "d3d6b1def07b36db",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2317ee07a32cbe30",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "influx_v2_local",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "d3d6b1def07b36db",
        "type": "ui_tab",
        "name": "GPS",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b31cd5825de6fc1b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-web-worldmap": "5.5.4",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-node-serialport": "2.0.3"
        }
    }
]
